<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    {{ function('wp_head') }}
</head>
<body class="{{ body_class }}">
    <header>
        {% include 'partial/header.twig' %}
    </header>

    <main class="container">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </main>

    <footer>
        {% include 'partial/footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
</body>
</html>
