<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ function('wp_head') }}
</head>
<body class="{{ body_class }}">
    <header class="site-header">
        {% include 'partial/header.twig' %}
    </header>

    <main id="content" class="site-content">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </main>

    <footer class="site-footer">
        {% include 'partial/footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
</body>
</html>
